* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Variables globales */
:root {
    --white: #F9F7F7;
    --blue-ligth: #DBE2EF;
    --blue: #3F72AF;
    --blue-dark: #112D4E;
    --purple-light-1: #FBFAFB;
    --purple-light-2: #EEEAF2;
    --purple-medium-1: #AA83C8;
    --purple-medium-2: #8B48BF;
    --purple-medium-3: #5C218A;
    --purple-dark-1: #3E0F64;
    --purple-dark-2: #2A0646;
  
    --yellow: #EECC75;
    --green: #CAD297;
    --aqua: #B7EAC5;
    --lightBlue: #A2EEE5;
    --darkBlue: #8EA2EA;
    --red: #F09D9D;
}

html{
    font-size: 62.5%;
}
body{
    background-color: var(--white);
    font-family: 'Barlow Condensed', sans-serif;
}
.header-container--categories{
    background: linear-gradient(180deg, rgba(122, 197, 229, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
}
.header-container--long{
    background-image: url('https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ksBQ4oHQDdJwND8H90ay8CbMihU.jpg');
    height: 580px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
}
.fa-arrow-left{
    color: var(--blue);
}
.header-return{
    color: var(--blue-dark);
    font-size: 2.8rem;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    cursor: pointer;
}
/* Titulo general */
.title, .movieDetail-title{
    color:var(--blue);
    font-size: 3.2rem;
}
/* titulos  */
.title{
    margin-top: 40px;
    margin-left: 20px;
}
/* Estilos para el search */
.container-search{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 50px;
    margin: 20px auto auto 20px;
}
.input-search{
    width: 100%;
    border-radius: 8px 0 0 8px;
    background-color: var(--blue-ligth);
    padding-left: 10px;
}
.button-search{
    width: 50px;
    background-color: var(--blue);
    border: none;
    border-radius: 0 8px 8px 0;
}
span .gg-search{
    margin: -4px auto 0 auto;
    color: var(--blue-ligth);
    cursor: pointer;
}
span .gg-search:active{
    transform: translateY(-2px);
}
.header-container--category{
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 20px;
}
.header-container--name{
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--blue);
    margin-left: 20px;
}
/* Tendencias */
.conatiner-trends{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.subtitle, .movieDetail-subtitle-similar{
    color:var(--blue);
    font-size: 2.3rem;
}
.button-seemore ,.movieList-button--seemore{
    width: 80px;
    height: 30px;
    border-radius: 8px ;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
}
.button-seemore{
    margin-left: calc(20%);
}
.button-seemore:active, .movieList-button--seemore:active{
    transform: translateY(-2px);
}
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 20px 20px;
}
.container-carrousel{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 241px;
    padding-left: 20px;
    padding-bottom: 16px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.container-img{
    width: 150px;
    height: 225px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 1px 4px 10px rgba(202, 197, 197, 0.6);
    border-radius: 8px;
}
.images{
    width: 150px;
    height: 225px;
    border-radius: 8px;
}
/* Categorias */
.container-categories{
    margin: 20px 0 20px 20px;
}
.container-subcategories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    margin: 20px 0;
}
.container-subcategories--name{
    width: 30%;
    height: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.color{
    width: 30px;
    height: 30px;
    border-radius: 8px;
}
.name-categories{
    font-size: 1.6rem;
    margin-left: 10px;
    color: var(--blue);
    cursor: pointer;
}
#id28 { background-color: var(--yellow); }
#id12 { background-color: var(--red); }
#id16 { background-color: var(--green); }
#id35 { background-color: var(--lightBlue); }
#id80 { background-color: var(--darkBlue); }
#id99 { background-color: var(--purple-dark-1); }
#id18 { background-color: var(--purple-medium-1); }
#id10751 { background-color: var(--yellow); }
#id14 { background-color: var(--red); }
#id36 { background-color: var(--green); }
#id27 { background-color: var(--lightBlue); }
#id10402 { background-color: var(--darkBlue); }
#id9648 { background-color: var(--purple-dark-1); }
#id10749 { background-color: var(--purple-medium-1); }
#id878 { background-color: var(--yellow); }
#id10770 { background-color: var(--red); }
#id53 { background-color: var(--green); }
#id10752 { background-color: var(--lightBlue); }
#id37 { background-color: var(--darkBlue); }
/* Detalle de peliculas */
.movieDetail-container{
    border-radius: 16px 16px 0 0;
    margin-top: 500px;
    padding: 20px 0 0 20px;
    z-index: 1;
    position: sticky;
    background-color: var(--white);
}
.movieDetetail-container-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}
.fa-star{
    color: #f0dc58;
    margin-right: 5px;
}
.movieDetail-score{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--blue);
}
.movieDetail-description{
    font-size: 1.6rem;
    font-weight: 200;
    color: var(--blue);
    margin: 20px 0;
}
.movieDetail-subtitle-similar{
    margin-bottom: 20px;
}
.container-list{
    width: 80%;
    height: auto;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container-img--list{
    width: 150px;
    height: 225px;
    margin: 10px;
}
.movieList-button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    background-color: var(--blue-dark);
    color: var(--white);
    text-align: center;
    font-size: 1.4rem;
}
/* Navigation */
.inactive {
    display: none;
}